.textStyle1 {

    color: red !important;


}

.btnIcon {

    color: red !important;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 40px;
    width: 40px;
}

.btnIcon:hover {

    transform:scale(1.2);

}

.anchorFooter {

border-bottom: 1px solid red !important;
    text-decoration: none !important;
}

.anchorFooter:hover {

    border-bottom: 1px solid transparent !important;

}